{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CEMAG</title>

</head>

<body 

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <center>
                <form method= 'POST' action= '/update/{{tb_balanco.id}}'>
                    {% csrf_token  %}
                <table class="table table-bordered" id="dataTable" width="0%" cellspacing="0">
                    <tr>
                        <td>Id</td>
                        <td><input type="text" name="id" value="{{tb_balanco.id}}" readonly></td>
                    </tr> 
                    <tr>   
                        <td>Codigo</td>
                        <td><input type="text" name="codigo" value="{{tb_balanco.codigo}}" readonly></td>
                    </tr>
                    <tr>
                        <td>Lista</td>
                        <td><input type="text" name="descricao" value="{{tb_balanco.descricao}}" readonly></td>
                    </tr>
                    <tr>
                        <td>Descrição</td>
                        <td><input type="text" name="familia" value="{{tb_balanco.familia}}" readonly></td>
                    </tr>
                    <tr>
                        <td>Quantidade</td>
                        <td><input type="text" name="qt" value="{{tb_balanco.qt}}"></td>
                    </tr>      
                </table>
                <input type="submit" value="update"/> | <a href="{% url 'tables' %}">Back To Home Page</a>
                {% if messages %}
                {% for message in messages %}
                <h3 class="mb-4" style="color: green;">{{message}}</h3>
                {% endfor %}
                {% endif %}
                </form>
                </center>
            </div>
        </div>
    </div>

</div>
