{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CEMAG</title>

</head>

<body 


    <h1 class="h3 mb-2 text-gray-800">Inventário</h1>
        <p class="mb-4">Tabela para registro de contagem.</p>

        <!-- DataTales Example -->
        <center>
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
        </form>
        </center>
        <br>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Peças</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <th>Id</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Lista</th>
                            <th>Quantidade</th>
                            <th>Editar</th>                                        
                        </tr>
                        {% for user in filter.qs %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.codigo}}</td>
                            <td>{{user.descricao}}</td>
                            <td>{{user.familia}}</td>
                            <td>{{user.qt}}</td>
                            <td><a href="/edit/{{user.id}}">Edit</a></td>
                        </tr>
                        {% endfor %}                                     
                    </table>
                </div>

</body>

</html>